@model DeltaPlan2100API.Models.TblMapViewConfig

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblMapViewConfig</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AutoId" />
            <div class="form-group">
                <label asp-for="TableName" class="control-label"></label>
                <input asp-for="TableName" class="form-control" />
                <span asp-validation-for="TableName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColumnName" class="control-label"></label>
                <input asp-for="ColumnName" class="form-control" />
                <span asp-validation-for="ColumnName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AliasName" class="control-label"></label>
                <input asp-for="AliasName" class="form-control" />
                <span asp-validation-for="AliasName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViewSerial" class="control-label"></label>
                <input asp-for="ViewSerial" class="form-control" />
                <span asp-validation-for="ViewSerial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

